<div class="container game">
  <app-header backUrl="/game/ito"></app-header>

  <main class="game-content playing">
    <div class="game-title-row">
      <h2>Ito</h2>
    </div>

    <!-- REVEAL_READY -->
    <ng-container *ngIf="gameState === 'reveal_ready'">
      <div class="playing-wrapper reveal-animation">
        <div class="label" style="margin-bottom: 32px;">Passe o dispositivo para:</div>
        <div class="secret-word" [style.color]="currentPlayerData.color" style="font-size: 3.5rem;">
          {{ currentPlayerData.name || 'Jogador ' + currentPlayer }}
        </div>
        
        <button class="btn-primary" (click)="revealPlayerNumber()" style="margin-top: 48px; border-radius: 100px;">
          Revelar meu Número
        </button>
      </div>
    </ng-container>

    <!-- REVEALED -->
    <ng-container *ngIf="gameState === 'revealed'">
      <div class="playing-wrapper">
        <div class="label">
          <span [style.color]="currentPlayerData.color">{{ currentPlayerData.name || 'Jogador ' + currentPlayer }}</span>, seu número é:
        </div>
        <div class="secret-word reveal-animation" [style.color]="currentPlayerData.color" style="font-size: 7rem;">{{ currentSecretNumber }}</div>

        <button class="btn-primary" (click)="nextPlayer()">
          {{ currentPlayer < playersCount ? 'Esconder Número' : 'Esconder e Ver Tema' }}
        </button>
      </div>
    </ng-container>

    <!-- FINISHED -->
    <ng-container *ngIf="gameState === 'finished'">
      <div class="playing-wrapper">
        <div class="label" style="font-size: 1.5rem;">O Tema da rodada é:</div>
        <div class="secret-word reveal-animation" style="font-size: 2.2rem; color: var(--text-main); margin-bottom: 60px;">{{ theme }}</div>

        <div style="display: flex; gap: 16px; width: 100%; margin-bottom: 24px;">
          <button class="btn-primary" (click)="changeTheme()" style="flex: 1; padding: 16px 8px;">
            Trocar Tema
          </button>
          <button class="btn-primary" (click)="generateNewGame()" style="flex: 1; padding: 16px 8px;">
            Jogar Novamente
          </button>
        </div>

        <a routerLink="/" class="btn-secondary" style="border: none; text-decoration: underline;">
          Menu Inicial
        </a>
      </div>
    </ng-container>

  </main>
</div>
